services:
  db:
    image: postgres:17
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - db-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-t", "10"]
      interval: 1s
      timeout: 10s
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mysecretpassword}
  redis:
    image: redis:8
    networks:
      - redis-network
    restart: unless-stopped
  web-predeploy:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    command:
      [
        "sh",
        "-c",
        "bun run --cwd /infra/db /infra/db/migrate.js && bun run /infra/auth/generate-test-users.js",
      ]
    networks:
      - db-network
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:mysecretpassword@db:5432/postgres}
      REDIS_URL: redis://redis:6379
  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    networks:
      - db-network
      - redis-network
    depends_on:
      db:
        condition: service_healthy
      web-predeploy:
        condition: service_completed_successfully
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://postgres:mysecretpassword@db:5432/postgres}
      REDIS_URL: redis://redis:6379
  db-studio:
    image: ghcr.io/drizzle-team/gateway:latest
    volumes:
      - drizzle-gateway:/app
    networks:
      - db-network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - STORE_PATH=/app

networks:
  db-network:
  redis-network:

volumes:
  drizzle-gateway:
  db-data:
