services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - db-network
      - redis-network
    env_file:
      - path: .env
        required: false
    command: sleep infinity
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@db:5432/postgres
      REDIS_URL: redis://redis:6379
      TEST_AUTH: true
      BETTER_AUTH_URL: http://localhost:3000
      BETTER_AUTH_SECRET: supersecretkey
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mysecretpassword}
    networks:
      - db-network
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres', '-t', '10']
      interval: 10s
      timeout: 10s
      start_interval: 1s
      start_period: 1s
  redis:
    image: redis:8
    networks:
      - redis-network

networks:
  db-network:
  redis-network:

volumes:
  db-data:
